---
import BaseHead from "../../components/BaseHead.astro";
import BaseLayout from "../../layouts/BaseLayout.astro";
import LeftNav from "../../components/LeftNav.astro";
import PostCard from "../../components/PostCard.astro";
import RecentUpdate from "../../components/RecentUpdate.astro";
import { SITE_DESCRIPTION, SITE_TITLE } from "../../consts";
import { getSortedPosts } from "../../utils/post";

const posts = await getSortedPosts(true);
---

<!doctype html>
<html lang="zh">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<body>
		<BaseLayout>
			<LeftNav slot="left" />
			<div>
				{
					posts.map((post) => (
						<PostCard postid={post.id} />
					))
				}
			</div>
			<style>
				div {
					list-style: none;
					padding: 1em 0;
					margin: 0;
					display: flex;
					flex-direction: column;
					gap: 1em;
					width: 100%;
					box-sizing: border-box;
					justify-content: start;
					min-height: 99vh;
				}
				/* 和 BaseLayout 的保持一致 */
				@media screen and (max-width: 800px) {
					div {
						padding: 0.8em 1em;
					}
				}
			</style>
			<RecentUpdate slot="right" collections={["posts"]} latestN={5} />
		</BaseLayout>
	</body>
</html>
