:root {
	--hue-theme: 287.75deg;
    --primary: oklch(0.4924 0.2532 var(--hue-theme));
	--width-main: 800px;
}

html {
	--background: hsla(var(--hue-theme) 20% 98% / 1);
	--c-bg-soft: hsl(var(--hue-theme) 20% 20% / 10%);
	--c-card-bg: #fbfafb;
	--c-card-bg-hover: color-mix(in srgb, var(--c-card-bg), white 100%);

	--accent: #2337ff;
	--accent-dark: #000d8a;
	--accent-light: #2335ff11;
	--c-a: var(--accent);

	--black: 15, 18, 25;
	--gray: 96, 115, 159;
	--gray-light: 229, 233, 240;
	--gray-dark: 34, 41, 57;
	--gray-gradient: rgba(var(--gray-light), 50%), #fff;

	--content-meta: rgba(0, 0, 0, 0.7);
	--line-color: rgba(0, 0, 0, 0.1);

	--badge-bg: oklch(0.9 0.23 var(--hue-theme));
}

html.dark {
	--background: #1E1E1E;
	--c-bg-soft: hsla(var(--hue-theme) 20% 10% / 25%);
	--c-card-bg: #292C32;
	--c-card-bg-hover: color-mix(in srgb, var(--c-card-bg), white 5%);

	--c-a: darkmagenta;

	--black: 255, 255, 255;
	--gray: 110, 118, 129;
	--gray-light: 56, 58, 66;
	--gray-dark: 176, 187, 198;
	--gray-gradient: rgba(var(--gray-light), 50%), #0000008c;

    --content-meta: rgba(255, 255, 255, 0.7);
	--line-color: rgba(255, 255, 255, 0.1);

	--badge-bg: oklch(0.4 0.13 var(--hue-theme))
}