---
import AboutHeroImage from '../assets/blog-placeholder.jpg';
import Layout from '../layouts/BlogPost.astro';
---

<Layout
	title="About Me"
	description="开盒我"
	pubDate={new Date('2026-05-01')}
	heroImage={AboutHeroImage}
	headings={[]}
>
	<p>
		一个努力的普通人
	</p>
</Layout>
