---
import { SITE_TITLE } from "../consts";
import HeaderLink from "./HeaderLink.astro";
import ThemeIcon from "./ThemeIcon.astro";
import PagefindConfig from "astro-pagefind/components/PagefindConfig.astro";

interface Props {
    title?: string;
    img?: string;
}

const { title = SITE_TITLE, img = "/favicon.svg" } = Astro.props;
---

<nav>
    <img src={img} alt="logo" width="128" height="128" />
    <div class="logos">
        <h2><a href="/" style="padding:0;">{title}</a></h2>
        <a href="/rss.xml" aria-label="RSS Feed">
            <svg
                width="1em"
                height="1em"
                viewBox="0 0 24 24"
                fill="none"
                aria-hidden="true"
                ><path
                    d="M5 19a1 1 0 1 0 0-2a1 1 0 0 0 0 2Zm-1-8a9 9 0 0 1 9 9h2C15 14.477 9.523 9 3 9v2Zm0-7a16 16 0 0 1 16 16h2C22 10.059 13.941 2 4 2v2Z"
                    fill="currentColor"></path>
            </svg>
        </a>
    </div>
    <div class="search-container" data-pf-theme="light">
        <PagefindConfig
            instance="search"
            preload="false"
            highlight-param="highlight"
        />
        <!-- <pagefind-searchbox instance="search" show-sub-results="true"></pagefind-searchbox> -->
        <pagefind-modal-trigger instance="search" shortcut="/"
        ></pagefind-modal-trigger>
        <pagefind-modal instance="search"></pagefind-modal>
    </div>
    <div class="internal-links">
        <HeaderLink href="/page/1">
            <svg
                class="icon"
                viewBox="0 0 1024 1024"
                width="20"
                height="20"
                fill="currentColor"
                ><path
                    d="M827.93 316.31a26.53 26.53 0 0 0-5.75-8.57L663.26 148.82a26.68 26.68 0 0 0-18.77-7.8h-371a79.58 79.58 0 0 0-79.49 79.5v583A79.58 79.58 0 0 0 273.51 883h477A79.58 79.58 0 0 0 830 803.48v-477a26.58 26.58 0 0 0-2.07-10.17zM671 231.49L739.51 300H671zM750.49 830h-477A26.51 26.51 0 0 1 247 803.48v-583A26.51 26.51 0 0 1 273.51 194H618v132.51a26.49 26.49 0 0 0 26.5 26.5H777v450.47A26.51 26.51 0 0 1 750.49 830z"
                ></path><path
                    d="M485.5 618h-106a26.5 26.5 0 0 0 0 53h106a26.5 26.5 0 0 0 0-53zM644.49 512h-265a26.5 26.5 0 0 0 0 53h265a26.5 26.5 0 0 0 0-53zM644.49 406h-265a26.5 26.5 0 1 0 0 53h265a26.5 26.5 0 1 0 0-53z"
                ></path>
            </svg>
            <span class="nav-text">文章</span>
        </HeaderLink>
        <HeaderLink href="/archive">
            <svg
                class="icon"
                viewBox="0 0 1024 1024"
                p-id="7171"
                width="20"
                height="20"
                fill="currentColor"
                ><path
                    d="M715.8272 102.4 308.1216 102.4c0 0-50.9952 0-50.9952 51.2l509.696 0C766.8224 102.4 715.8272 102.4 715.8272 102.4zM868.7616 256c0-51.2-50.944-51.2-50.944-51.2L206.1824 204.8c0 0-50.944 0-50.944 51.2l0 51.2 713.5232 0L868.7616 256zM970.6496 307.2C940.544 276.8896 940.544 276.8896 940.544 276.8896L940.544 358.4 83.456 358.4 83.456 276.8896c0 0 0 0-30.1568 30.3104C23.1424 337.5104 1.536 345.6 13.6704 409.6c12.0832 63.7952 70.6048 413.4912 79.3088 460.8 9.5232 51.9168 62.3104 51.2 62.3104 51.2l713.5232 0c0 0 52.736 0.7168 62.3104-51.2 8.704-47.3088 67.1744-397.0048 79.3088-460.8C1022.464 345.6 1000.8576 337.5104 970.6496 307.2zM716.8 614.2464C716.8 642.6112 693.8112 665.6 665.4464 665.6L358.5536 665.6C330.1888 665.6 307.2 642.6112 307.2 614.2464L307.2 512l51.2 0 0 102.4 307.2 0 0-102.4 51.2 0L716.8 614.2464z"
                    p-id="7172"></path>
            </svg>
            <span>归档</span>
        </HeaderLink>
        <HeaderLink href="/everyLearn">
            <svg
                class="icon"
                viewBox="0 0 1024 1024"
                width="20"
                height="20"
                fill="currentColor"
                ><path
                    d="M512.07 66.49h-0.12c-35.25 0-69.41 7.34-83.45 10.78h-0.45l-4.17 1.15c-36.79 10.12-72.86 27.43-104.36 50.09-30.76 22.22-86.89 71.79-117.24 154.11C188.82 318.94 182 357.2 182 396.34c0 21.29 2.22 54.4 12.81 91.18 18.22 63.43 54.79 119.45 105.82 162.1l8.42 8.46h0.57c5.16 6.09 7.92 12.5 7.92 18.61v54.47c-0.12 27.67 11 54.64 30.51 74.01 19.43 19.29 46.24 30.35 73.54 30.35l180.53 0.1c27.57 0 54.46-11.08 73.8-30.39 19.36-19.25 30.46-46.13 30.46-73.77V676.8c0-17.67-14.33-32-32-32s-32 14.33-32 32v54.67c0 10.73-4.23 21.08-11.6 28.4l-0.08 0.08c-7.42 7.42-17.84 11.68-28.56 11.68l-180.53-0.1c-10.56 0-20.93-4.29-28.47-11.77-7.43-7.37-11.65-17.7-11.6-28.33V676.7c0-28.11-13.75-54.85-38.72-75.28l-2.5-2.05c-40.46-34.27-69.47-78.99-83.99-129.53-8.53-29.63-10.32-56.32-10.32-73.5 0-31.53 5.48-62.31 16.31-91.54 24.49-66.43 69.84-106.47 94.63-124.38 25.01-17.99 53.58-31.79 82.7-39.96l1.17-0.3c6.23-1.62 38.93-9.67 71.21-9.67C658.69 130.58 778 249.89 778 396.44c0 56.64-17.66 110.72-51.06 156.38-10.44 14.26-7.33 34.29 6.93 44.72 14.26 10.44 34.29 7.33 44.72-6.93C820.07 533.91 842 466.77 842 396.44 842 214.62 693.99 66.6 512.07 66.49z"
                ></path>
                <path
                    d="M644.43 361.57c-5.19 3.35-9.84 7.14-14.06 10.38-3.24 2.49-7.79 6.06-10.71 7.79-1.41-0.97-2.81-1.84-4.22-2.81-21.74-14.49-46.5-31.04-73.11-37.85-33.52-8.54-64.56-0.11-90.08 24.44-4.11 2.27-7.68 4-11.14 5.3-3.89 1.51-7.46 2.38-11.03 2.7-11.14-0.32-22.93-7.68-36.55-16.11-4.97-3.14-10.17-6.38-15.68-9.41-14.38-8-32.34-2.81-40.34 11.46-8 14.38-2.81 32.34 11.46 40.34 4.33 2.38 8.76 5.08 13.41 8 17.95 11.14 40.45 24.98 68.56 24.98 0.65 0 1.3-0.11 1.95-0.11 9.73-0.65 19.14-2.81 28.98-6.49 7.46-2.81 15.14-6.6 23.47-11.57 2.27-1.3 4.33-2.92 6.16-4.87 21.41-22.17 40.55-15.25 90.84 18.38 2.7 1.73 5.41 3.57 8 5.3 0.65 0.32 1.19 0.76 1.84 1.08 8.54 4.87 17.52 7.25 26.71 7.25 6.81 0 13.63-1.3 20.55-4 10.81-4.22 19.57-11.14 27.36-17.19 3.57-2.7 6.92-5.41 9.95-7.35 13.73-8.98 17.63-27.25 8.65-40.99-8.96-13.73-27.24-17.62-40.97-8.65zM616.52 896H407.48c-16.33 0-29.63 14.06-29.63 31.32 0 17.26 13.3 31.32 29.63 31.32h209.15c16.33 0 29.52-14.06 29.52-31.32 0-17.26-13.3-31.32-29.63-31.32z"
                ></path>
            </svg>
            <span class="nav-text">短记</span>
        </HeaderLink>
        <!-- <HeaderLink href="/daily">
            <svg
                class="icon"
                viewBox="0 0 1024 1024"
                p-id="17124"
                width="20"
                height="20"
                fill="currentColor"
                ><path
                    d="M780.93 452.15l-280.55-1.12L439 850.91c-2 13.02 14.35 20.48 22.87 10.43l328.96-387.69c7.19-8.47 1.2-21.47-9.91-21.52z"
                    fill="#CAE5FF"
                    p-id="17125"></path><path
                    d="M389.206 477.135l29.736-193.65 59.305 9.107-29.736 193.65z"
                    p-id="17126"></path><path
                    d="M445.13 877.41c-8.54 0-17.2-1.82-25.45-5.59-25.01-11.41-39.01-37.32-34.84-64.49L416.36 602H323.6c-19.69 0-38.33-8.58-51.14-23.55a67.232 67.232 0 0 1-15.35-54.17l48.31-308.4a67.338 67.338 0 0 1 22.74-40.72A67.354 67.354 0 0 1 371.91 159H590.4c19.7 0 38.33 8.58 51.14 23.55a67.232 67.232 0 0 1 15.35 54.17l-24.21 154.54 121.36 0.48c23.89 0.09 44.94 13.64 54.94 35.34s6.6 46.5-8.86 64.72L491.21 855.86c-11.91 14.04-28.75 21.56-46.08 21.56z m-1.03-60.47c0.24 0.21 0.7 0.42 1.01 0.46 0.08-0.07 0.2-0.19 0.35-0.37l308.91-364.06c0.17-0.2 0.24-0.32 0.25-0.35 0.01-0.2-0.23-0.73-0.43-0.87 0.01 0-0.13-0.02-0.39-0.02l-138.01-0.55a45.644 45.644 0 0 1-34.6-16.06 45.624 45.624 0 0 1-10.36-36.71l26.79-170.99c0.43-2.74-0.67-4.71-1.66-5.87s-2.77-2.55-5.55-2.55H371.92c-3.62 0-6.65 2.59-7.21 6.17l-48.31 308.4c-0.43 2.74 0.67 4.71 1.66 5.87s2.77 2.55 5.55 2.55h109.43c13.35 0 25.98 5.81 34.68 15.94a45.63 45.63 0 0 1 10.49 36.69l-34.04 221.81c-0.04 0.23-0.05 0.4-0.05 0.51z"
                    p-id="17127"></path>
            </svg>
            <span class="nav-text">日迹</span>
        </HeaderLink> -->
        <HeaderLink href="/about">
            <svg
                class="icon"
                viewBox="0 0 1024 1024"
                width="20"
                height="20"
                fill="currentColor"
                ><path
                    d="M510.544 392.088v369.224l293.88-55.832V525.608c0-7.528 6.568-13.4 14-12.528l36.152 5.608a12.584 12.584 0 0 1 11.176 12.512v208.936c0 5.952-4.104 11.112-9.952 12.328l-321.736 69.216a112.592 112.592 0 0 1-47.152 0.08l-318.312-66.92a12.608 12.608 0 0 1-9.976-12l-5.504-212.264a12.544 12.544 0 0 1 11.456-12.84l270.36-23.8a12.736 12.736 0 0 0 10.592-7.792l40.776-98.96c5.168-12.68 24.24-8.92 24.24 4.904z"
                ></path><path
                    d="M150.064 271.168L65.184 452.552c-4.112 8.84 2.976 18.904 12.696 17.84l318.656-32.184a12.68 12.68 0 0 0 10.232-7.44l102.544-230.992-350.16 64.312a12.56 12.56 0 0 0-9.088 7.08zM509.32 199.864l108.488 238.248c1.936 4.192 5.864 7 10.504 7.344l318.056 25.552a12.6 12.6 0 0 0 12.504-17.768l-82.928-181.808a12.576 12.576 0 0 0-9.296-7.168l-357.328-64.4z"
                ></path></svg
            >
            <span class="nav-text">About</span>
        </HeaderLink>
    </div>
    <ThemeIcon />
    <style>
        nav {
            box-sizing: border-box;
            padding: 2em 1em;
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 0.5em;
            height: 100%;
            position: relative;
            --bg-brightness: 1;
            --bg-blur: 100px;
            view-transition-name: left-nav;

            :global(a),
            :global(a.active) {
                text-decoration: none;
                color: var(--black);
            }
        }
        :global(.dark) nav {
            --bg-brightness: 0.3;
            --bg-blur: 80px;
            img {
                filter: brightness(150%);
            }
        }
        nav::after {
            z-index: -1;
            content: "";
            position: absolute;
            top: 50%;
            left: 50%;
            width: 80%;
            height: 80%;
            transform: translate(-50%, -50%);
            filter: saturate(400%) blur(var(--bg-blur)) opacity(0.6)
                brightness(var(--bg-brightness));
            background-size: cover;
            background-image: url(https://gcore.jsdelivr.net/gh/cdn-x/placeholder@1.0.13/image/sidebar-bg1@small.jpg);
        }
        .logos {
            display: flex;
            flex-wrap: nowrap;
            align-items: center;
            gap: 0.5em;
            h2 {
                margin: 0;
                font-size: 1.5em;
            }
        }
        .search-container {
            width: 100%;
            pagefind-modal-trigger {
                width: 100%;
            }
            .pf-trigger-btn {
                background: color-mix(
                    in srgb,
                    var(--pf-background) 60%,
                    transparent
                ) !important;
            }
        }
        .internal-links {
            display: flex;
            flex-direction: column;
            width: 100%;
            flex: 1;
            :global(a),
            :global(a.active) {
                border-radius: 0.5em;
                padding: 0.2em 0.6em 0.2em 1em;
                display: flex;
                flex-direction: row;
                align-items: center;
                gap: 0.5em;
                span {
                    flex-grow: 1;
                }
            }
            :global(a) {
                background-color: transparent;
            }
            :global(a.active) {
                background-color: var(--c-bg-soft);
                &::after {
                    content: "";
                    width: 0.3em;
                    height: 0.3em;
                    border-radius: 1em;
                    background-color: rgb(var(--gray-dark));
                }
            }
        }
    </style>
    <script>
        function setPagefindTheme(isDark: boolean) {
            const allElements = document.querySelectorAll("[data-pf-theme]");
            allElements.forEach((el) => {
                el.setAttribute("data-pf-theme", isDark ? "dark" : "light");
            });
        }
        setPagefindTheme(document.documentElement.classList.contains("dark"));
        document.addEventListener("theme-toggle", (event) => {
            const newTheme = (event as CustomEvent).detail.theme;
            setPagefindTheme(newTheme === "dark");
        });
    </script>
</nav>
