---
import { SITE_TITLE } from "../consts";
import HeaderLink from "./HeaderLink.astro";
import ThemeIcon from "./ThemeIcon.astro";
import PagefindConfig from "astro-pagefind/components/PagefindConfig.astro";
---

<nav>
    <img src="/favicon.svg" alt="logo" width="128" height="128" />
    <div class="logos">
        <h2><a href="/" style="padding:0;">{SITE_TITLE}</a></h2>
        <a href="/rss.xml" aria-label="RSS Feed">
            <svg
                width="1em"
                height="1em"
                viewBox="0 0 24 24"
                fill="none"
                aria-hidden="true"
                ><path
                    d="M5 19a1 1 0 1 0 0-2a1 1 0 0 0 0 2Zm-1-8a9 9 0 0 1 9 9h2C15 14.477 9.523 9 3 9v2Zm0-7a16 16 0 0 1 16 16h2C22 10.059 13.941 2 4 2v2Z"
                    fill="currentColor"></path>
            </svg>
        </a>
    </div>
    <div class="search-container" data-pf-theme="light">
        <PagefindConfig
            instance="search"
            preload="false"
            highlight-param="highlight"
        />
        <!-- <pagefind-searchbox instance="search" show-sub-results="true"></pagefind-searchbox> -->
        <pagefind-modal-trigger instance="search" shortcut="/"
        ></pagefind-modal-trigger>
        <pagefind-modal instance="search"></pagefind-modal>
    </div>
    <div class="internal-links">
        <HeaderLink href="/">
            <svg class="icon" viewBox="0 0 1024 1024" width="20" height="20"
                ><path
                    d="M444.55783545 377.18475925c30.74001094 0 59.77444005 6.58997029 87.17250026 19.72541697 20.54607348 9.66990385 39.15915441 22.85973118 55.80463852 39.54476436 16.67514576 16.66031421 29.86991717 35.24867761 39.52993285 55.78486364-13.1749965 13.18488395-29.07397894 19.75507933-47.65739822 19.75507934-6.49109576 0-13.06129113-0.98874249-19.72541698-2.91679094a137.16333182 137.16333182 0 0 0-44.79004383-44.77521375c-21.57930914-13.13050331-45.02239865-19.73530442-70.30949432-19.73530442-17.57984526 0-34.58621964 3.33700664-51.09822278 10.01101993-16.49717232 6.68390074-31.22943809 16.51200313-44.24623605 29.51396955L248.11443483 585.20633655c-12.98713559 12.98713559-22.81523799 27.72434546-29.48925055 44.24623603a134.94360384 134.94360384 0 0 0-10.01101992 51.06856043c0 17.55018291 3.33700664 34.58621964 10.01101992 51.06856114 6.67401328 16.52189059 16.50211568 31.25910045 29.48925055 44.24623604 13.00691049 13.00691049 27.74906374 22.83501289 44.2363486 29.51396955a135.14135293 135.14135293 0 0 0 51.1179984 10.00113247c17.56007035 0 34.57633219-3.32217583 51.09822278-9.9961891 16.50211568-6.68390074 31.22943809-16.51200313 44.23634859-29.51396955l70.83352722-70.80880894c22.47412192 6.13020478 45.71946233 9.21013834 69.77062843 9.21013835 3.88081516 0 9.30901287-0.17797344 16.31425478-0.51414615a261.61637531 261.61637531 0 0 1-8.14723957 8.68116136l-101.11377262 101.10882852c-19.51778117 19.47823134-41.57663073 34.22532866-66.24576162 44.24623605A202.04957179 202.04957179 0 0 1 343.46878183 882.76845314c-26.35493708 0-51.953485-5.03764437-76.76598361-15.1475381-24.81249788-10.07528802-46.88123563-24.79272297-66.24576162-44.09792426-19.47823134-19.49800625-34.21049785-41.56674328-44.22646114-66.23587415A202.39563123 202.39563123 0 0 1 141.21157424 680.55573945 202.49450576 202.49450576 0 0 1 156.23057546 603.79469921c10.02090738-24.66913015 24.7482298-46.73786792 44.22646115-66.23092935L301.58564075 436.44999723c1.95771081-1.92804845 4.84483938-4.63720358 8.69104809-8.1472403 18.81083002-16.68503321 39.79195-29.38048927 62.95324816-38.066594 23.17612897-8.65644237 46.96033454-13.03657286 71.36744827-13.03657213l-0.03954982-0.01977492zM680.536113 141.24108814a201.91609152 201.91609152 0 0 1 76.74620872 15.02888867c24.64441189 9.9764142 46.73786792 24.73339898 66.2457609 44.24129269 19.4881188 19.45351234 34.23521612 41.51236265 44.24623604 66.19632362A202.94932719 202.94932719 0 0 1 882.76860161 343.47357673c0 26.33021808-5.05741927 51.90404846-15.12776322 76.74620872-10.11483784 24.82732942-24.81744198 46.90100982-44.13747405 66.19632435L722.37970427 587.52988243c-1.92804845 1.97748572-4.82012038 4.69652758-8.69104881 8.19667682-18.76633684 16.69492067-39.74745683 29.35082692-62.95324744 38.02210083a202.47473085 202.47473085 0 0 1-71.35756153 13.06129114c-30.71529194 0-59.78927159-6.58997029-87.16755617-19.72541696-20.55101684-9.67979131-39.12949277-22.85973118-55.81452599-39.54970848-16.67514576-16.66031421-29.83036735-35.24867761-39.51015793-55.789807C410.0358839 518.56507821 425.92003552 511.98993946 444.53311718 511.98993946c6.48615239 0 13.0909535 0.98874249 19.75507861 2.91679094a136.64424158 136.64424158 0 0 0 44.75049475 44.77521374c21.60897151 13.13050331 45.03723019 19.72541696 70.31938177 19.72541697 17.55018291 0 34.58621964-3.33700664 51.08339123-10.00113247 16.51200313-6.68390074 31.24921299-16.51200313 44.23140522-29.51397027l101.13354753-101.12366008c13.00691049-12.97724814 22.83501289-27.71445801 29.52880037-44.23634787a135.13146547 135.13146547 0 0 0 10.00113247-51.06856114c0-17.56007035-3.33700664-34.5961071-10.00113247-51.06856042-6.69378819-16.52189059-16.52189059-31.25910045-29.52880037-44.24623604-13.0019664-13.00691049-27.72928883-22.83501289-44.24623604-29.5288011a135.17101528 135.17101528 0 0 0-51.0784486-9.99618837c-17.55018291 0-34.58621964 3.33700664-51.08833533 9.99618837-16.51200313 6.69378819-31.24921299 16.52189059-44.22646114 29.5288011l-70.86318956 70.79397739c-22.46423447-6.12031732-45.72440642-9.19530679-69.77062844-9.1953068-3.85609689 0-9.31395623 0.16314263-16.33897377 0.49931461a246.86433461 246.86433461 0 0 1 8.1670152-8.68116064l101.12860344-101.10882853c19.32991953-19.3002579 41.40360065-34.01769285 66.23587416-44.09298087C628.56779645 146.25401351 654.14162611 141.21142578 680.48173165 141.21142578l0.04943727 0.02966236z"
                ></path>
            </svg>
            <span class="nav-text">首页</span>
            <HeaderLink href="/posts">
                <svg class="icon" viewBox="0 0 1024 1024" width="20" height="20"
                    ><path
                        d="M827.93 316.31a26.53 26.53 0 0 0-5.75-8.57L663.26 148.82a26.68 26.68 0 0 0-18.77-7.8h-371a79.58 79.58 0 0 0-79.49 79.5v583A79.58 79.58 0 0 0 273.51 883h477A79.58 79.58 0 0 0 830 803.48v-477a26.58 26.58 0 0 0-2.07-10.17zM671 231.49L739.51 300H671zM750.49 830h-477A26.51 26.51 0 0 1 247 803.48v-583A26.51 26.51 0 0 1 273.51 194H618v132.51a26.49 26.49 0 0 0 26.5 26.5H777v450.47A26.51 26.51 0 0 1 750.49 830z"
                    ></path><path
                        d="M485.5 618h-106a26.5 26.5 0 0 0 0 53h106a26.5 26.5 0 0 0 0-53zM644.49 512h-265a26.5 26.5 0 0 0 0 53h265a26.5 26.5 0 0 0 0-53zM644.49 406h-265a26.5 26.5 0 1 0 0 53h265a26.5 26.5 0 1 0 0-53z"
                    ></path>
                </svg>
                <span class="nav-text">文章</span>
            </HeaderLink>
            <HeaderLink href="/everyLearn">
                <svg
                    class="icon"
                    viewBox="0 0 1024 1024"
                    p-id="17124"
                    width="20"
                    height="20"
                    ><path
                        d="M780.93 452.15l-280.55-1.12L439 850.91c-2 13.02 14.35 20.48 22.87 10.43l328.96-387.69c7.19-8.47 1.2-21.47-9.91-21.52z"
                        fill="#CAE5FF"
                        p-id="17125"></path><path
                        d="M389.206 477.135l29.736-193.65 59.305 9.107-29.736 193.65z"
                        p-id="17126"></path><path
                        d="M445.13 877.41c-8.54 0-17.2-1.82-25.45-5.59-25.01-11.41-39.01-37.32-34.84-64.49L416.36 602H323.6c-19.69 0-38.33-8.58-51.14-23.55a67.232 67.232 0 0 1-15.35-54.17l48.31-308.4a67.338 67.338 0 0 1 22.74-40.72A67.354 67.354 0 0 1 371.91 159H590.4c19.7 0 38.33 8.58 51.14 23.55a67.232 67.232 0 0 1 15.35 54.17l-24.21 154.54 121.36 0.48c23.89 0.09 44.94 13.64 54.94 35.34s6.6 46.5-8.86 64.72L491.21 855.86c-11.91 14.04-28.75 21.56-46.08 21.56z m-1.03-60.47c0.24 0.21 0.7 0.42 1.01 0.46 0.08-0.07 0.2-0.19 0.35-0.37l308.91-364.06c0.17-0.2 0.24-0.32 0.25-0.35 0.01-0.2-0.23-0.73-0.43-0.87 0.01 0-0.13-0.02-0.39-0.02l-138.01-0.55a45.644 45.644 0 0 1-34.6-16.06 45.624 45.624 0 0 1-10.36-36.71l26.79-170.99c0.43-2.74-0.67-4.71-1.66-5.87s-2.77-2.55-5.55-2.55H371.92c-3.62 0-6.65 2.59-7.21 6.17l-48.31 308.4c-0.43 2.74 0.67 4.71 1.66 5.87s2.77 2.55 5.55 2.55h109.43c13.35 0 25.98 5.81 34.68 15.94a45.63 45.63 0 0 1 10.49 36.69l-34.04 221.81c-0.04 0.23-0.05 0.4-0.05 0.51z"
                        p-id="17127"></path>
                </svg>
                <span class="nav-text">日记</span>
            </HeaderLink>
            <HeaderLink href="/about">
                <svg class="icon" viewBox="0 0 1024 1024" width="20" height="20"
                    ><path
                        d="M512.07 66.49h-0.12c-35.25 0-69.41 7.34-83.45 10.78h-0.45l-4.17 1.15c-36.79 10.12-72.86 27.43-104.36 50.09-30.76 22.22-86.89 71.79-117.24 154.11C188.82 318.94 182 357.2 182 396.34c0 21.29 2.22 54.4 12.81 91.18 18.22 63.43 54.79 119.45 105.82 162.1l8.42 8.46h0.57c5.16 6.09 7.92 12.5 7.92 18.61v54.47c-0.12 27.67 11 54.64 30.51 74.01 19.43 19.29 46.24 30.35 73.54 30.35l180.53 0.1c27.57 0 54.46-11.08 73.8-30.39 19.36-19.25 30.46-46.13 30.46-73.77V676.8c0-17.67-14.33-32-32-32s-32 14.33-32 32v54.67c0 10.73-4.23 21.08-11.6 28.4l-0.08 0.08c-7.42 7.42-17.84 11.68-28.56 11.68l-180.53-0.1c-10.56 0-20.93-4.29-28.47-11.77-7.43-7.37-11.65-17.7-11.6-28.33V676.7c0-28.11-13.75-54.85-38.72-75.28l-2.5-2.05c-40.46-34.27-69.47-78.99-83.99-129.53-8.53-29.63-10.32-56.32-10.32-73.5 0-31.53 5.48-62.31 16.31-91.54 24.49-66.43 69.84-106.47 94.63-124.38 25.01-17.99 53.58-31.79 82.7-39.96l1.17-0.3c6.23-1.62 38.93-9.67 71.21-9.67C658.69 130.58 778 249.89 778 396.44c0 56.64-17.66 110.72-51.06 156.38-10.44 14.26-7.33 34.29 6.93 44.72 14.26 10.44 34.29 7.33 44.72-6.93C820.07 533.91 842 466.77 842 396.44 842 214.62 693.99 66.6 512.07 66.49z"
                    ></path>
                    <path
                        d="M644.43 361.57c-5.19 3.35-9.84 7.14-14.06 10.38-3.24 2.49-7.79 6.06-10.71 7.79-1.41-0.97-2.81-1.84-4.22-2.81-21.74-14.49-46.5-31.04-73.11-37.85-33.52-8.54-64.56-0.11-90.08 24.44-4.11 2.27-7.68 4-11.14 5.3-3.89 1.51-7.46 2.38-11.03 2.7-11.14-0.32-22.93-7.68-36.55-16.11-4.97-3.14-10.17-6.38-15.68-9.41-14.38-8-32.34-2.81-40.34 11.46-8 14.38-2.81 32.34 11.46 40.34 4.33 2.38 8.76 5.08 13.41 8 17.95 11.14 40.45 24.98 68.56 24.98 0.65 0 1.3-0.11 1.95-0.11 9.73-0.65 19.14-2.81 28.98-6.49 7.46-2.81 15.14-6.6 23.47-11.57 2.27-1.3 4.33-2.92 6.16-4.87 21.41-22.17 40.55-15.25 90.84 18.38 2.7 1.73 5.41 3.57 8 5.3 0.65 0.32 1.19 0.76 1.84 1.08 8.54 4.87 17.52 7.25 26.71 7.25 6.81 0 13.63-1.3 20.55-4 10.81-4.22 19.57-11.14 27.36-17.19 3.57-2.7 6.92-5.41 9.95-7.35 13.73-8.98 17.63-27.25 8.65-40.99-8.96-13.73-27.24-17.62-40.97-8.65zM616.52 896H407.48c-16.33 0-29.63 14.06-29.63 31.32 0 17.26 13.3 31.32 29.63 31.32h209.15c16.33 0 29.52-14.06 29.52-31.32 0-17.26-13.3-31.32-29.63-31.32z"
                    ></path>
                </svg>
                <span class="nav-text">留言</span>
            </HeaderLink>
        </HeaderLink>
    </div>
    <ThemeIcon />
    <style>
        nav {
            box-sizing: border-box;
            padding: 2em 1em;
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 0.5em;
            height: 100%;
            position: relative;
            --bg-brightness: 1;
            --bg-blur: 100px;
            view-transition-name: left-nav;

            :global(a),
            :global(a.active) {
                text-decoration: none;
                color: var(--black);
            }
        }
        :global(.dark) nav {
            --bg-brightness: 0.3;
            --bg-blur: 80px;
            img {
                filter: brightness(150%);
            }
        }
        nav::after {
            z-index: -1;
            content: "";
            position: absolute;
            top: 50%;
            left: 50%;
            width: 80%;
            height: 80%;
            transform: translate(-50%, -50%);
            filter: saturate(400%) blur(var(--bg-blur)) opacity(0.6)
                brightness(var(--bg-brightness));
            background-size: cover;
            background-image: url(https://gcore.jsdelivr.net/gh/cdn-x/placeholder@1.0.13/image/sidebar-bg1@small.jpg);
        }
        .logos {
            display: flex;
            flex-wrap: nowrap;
            align-items: center;
            gap: 0.5em;
            h2 {
                margin: 0;
                font-size: 1.5em;
            }
        }
        .search-container {
            width: 100%;
            pagefind-modal-trigger {
                width: 100%;
            }
            .pf-trigger-btn {
                background: color-mix(
                    in srgb,
                    var(--pf-background) 60%,
                    transparent
                ) !important;
            }
        }
        .internal-links {
            display: flex;
            flex-direction: column;
            width: 100%;
            flex: 1;
            :global(a),
            :global(a.active) {
                border-radius: 0.5em;
                padding: 0.2em 0.6em 0.2em 1em;
                display: flex;
                flex-direction: row;
                align-items: center;
                gap: 0.5em;
                span {
                    flex-grow: 1;
                }
            }
            :global(a) {
                background-color: transparent;
            }
            :global(a.active) {
                background-color: var(--c-bg-soft);
                &::after {
                    content: "";
                    width: 0.3em;
                    height: 0.3em;
                    border-radius: 1em;
                    background-color: rgb(var(--gray-dark));
                }
            }
        }
    </style>
    <script>
        function setPagefindTheme(isDark: boolean) {
            const allElements = document.querySelectorAll("[data-pf-theme]");
            allElements.forEach((el) => {
                el.setAttribute("data-pf-theme", isDark ? "dark" : "light");
            });
        }
        setPagefindTheme(document.documentElement.classList.contains("dark"));
        document.addEventListener("theme-toggle", (event) => {
            const newTheme = (event as CustomEvent).detail.theme;
            setPagefindTheme(newTheme === "dark");
        });
    </script>
</nav>
