<!-- 依赖global.css的svg居中 -->
<div class="social-links">
    <a
        href="https://scholar.google.com/citations?user=X0YWUwkAAAAJ"
        target="_blank"
    >
        <span class="sr-only">My Google Scholar</span>
        <svg viewBox="0 0 1024 1024" aria-hidden="true" width="33" height="33"
            ><path
                d="M480.300372 1022.980161a511.979201 511.979201 0 1 0 63.403047-1021.993573 511.979201 511.979201 0 1 0-63.403047 1021.993573Z"
                fill="currentColor"></path><path
                d="M767.975523 230.410031l-9.599418 9.599418c-19.198836 12.799224-25.598448 28.798254-22.398642 51.196897 0 3.199806 3.199806 6.399612 3.199806 12.799224 0 3.199806 3.199806 9.599418 3.199806 12.799224 0 63.99612 0 127.99224-3.199806 191.98836 0 15.99903-6.399612 22.398642-19.198836 22.398642-12.799224 0-22.398642-9.599418-22.398642-25.598448V415.99878c0-31.99806 3.199806-60.796314 3.199806-92.794374 0-6.399612 6.399612-15.99903 9.599418-22.398642 3.199806-9.599418 3.199806-19.198836 3.199806-28.798254h-3.199806l-86.394763 67.195926c3.199806 19.198836 9.599418 31.99806 9.599418 47.99709 3.199806 38.397672-12.799224 70.395732-41.597478 92.794374-9.599418 9.599418-22.398642 15.99903-31.99806 28.798254-12.799224 12.799224-12.799224 28.798254 0 41.597479 15.99903 15.99903 31.99806 31.99806 47.99709 44.797284 31.99806 25.598448 47.99709 60.796314 44.797284 102.393792-3.199806 44.797284-31.99806 73.595538-70.395732 92.794374-28.798254 12.799224-60.796314 19.198836-92.794374 19.198837-44.797284 0-92.794374-9.599418-131.192047-35.197867-31.99806-22.398642-47.99709-51.196896-38.397672-86.394762 3.199806-19.198836 15.99903-35.197866 28.798254-47.99709 35.197866-35.197866 76.795344-47.99709 124.792435-51.196896H511.991042c-22.398642-25.598448-28.798254-47.99709-12.799224-76.795345-38.397672 0-70.395732-6.399612-99.193987-28.798254-28.798254-25.598448-41.597478-54.396702-41.597478-92.794374h-127.99224l9.599418-9.599418 182.388943-153.590689 6.399612-6.399612c121.592628 6.399612 230.386033 9.599418 339.179437 9.599418z m-265.583899 556.766246c28.798254 0 51.196896-3.199806 76.795344-15.99903 41.597478-19.198836 57.596508-89.594568 9.599418-124.792434-9.599418-6.399612-22.398642-15.99903-31.99806-25.598448-3.199806-3.199806-6.399612-3.199806-9.599418-6.399612-41.597478-12.799224-79.99515-6.399612-118.392822 15.99903-47.99709 28.798254-54.396702 79.99515-15.99903 121.592628 22.398642 28.798254 57.596508 35.197866 89.594568 35.197866zM425.59628 384.00072v9.599418c3.199806 38.397672 19.198836 73.595538 54.396702 95.99418 28.798254 19.198836 63.99612 15.99903 83.194956-12.799224 9.599418-12.799224 12.799224-28.798254 15.99903-44.797284 6.399612-44.797284-19.198836-99.193986-57.596508-121.592628-28.798254-19.198836-67.195926-12.799224-83.194956 15.99903-9.599418 19.198836-12.799224 38.397672-12.799224 57.596508z"
                fill="#FFFFFF"></path>
        </svg>
    </a>
    <a href="https://orcid.org/0009-0000-8060-1006" target="_blank">
        <span class="sr-only">My ORCID</span>
        <svg viewBox="0 0 1024 1024" aria-hidden="true" width="33" height="33"
            ><path
                fill="currentColor"
                d="M589.5 376.38h-91.84V684h94.94c135.24 0 166.24-102.68 166.24-153.82 0-83.28-53.08-153.8-169.34-153.8zM512 16C238 16 16 238 16 512s222 496 496 496 496-222 496-496S786 16 512 16z m-161.58 721.52h-59.68v-415h59.68z m-29.84-462.28a39.14 39.14 0 1 1 39.14-39.14 39.28 39.28 0 0 1-39.14 39.14zM600 738h-162V322.52h161.2c153.46 0 220.88 109.66 220.88 207.7C820 636.78 736.76 738 600 738z"
            ></path></svg
        >
    </a>
    <a
        href="https://github.com/madderscientist/madderscientist.github.io"
        target="_blank"
    >
        <span class="sr-only">Go to My GitHub repo</span>
        <svg viewBox="0 0 16 16" aria-hidden="true" width="33" height="33"
            ><path
                fill="currentColor"
                d="M8 0C3.58 0 0 3.58 0 8c0 3.54 2.29 6.53 5.47 7.59.4.07.55-.17.55-.38 0-.19-.01-.82-.01-1.49-2.01.37-2.53-.49-2.69-.94-.09-.23-.48-.94-.82-1.13-.28-.15-.68-.52-.01-.53.63-.01 1.08.58 1.23.82.72 1.21 1.87.87 2.33.66.07-.52.28-.87.51-1.07-1.78-.2-3.64-.89-3.64-3.95 0-.87.31-1.59.82-2.15-.08-.2-.36-1.02.08-2.12 0 0 .67-.21 2.2.82.64-.18 1.32-.27 2-.27.68 0 1.36.09 2 .27 1.53-1.04 2.2-.82 2.2-.82.44 1.1.16 1.92.08 2.12.51.56.82 1.27.82 2.15 0 3.07-1.87 3.75-3.65 3.95.29.25.54.73.54 1.48 0 1.07-.01 1.93-.01 2.2 0 .21.15.46.55.38A8.012 8.012 0 0 0 16 8c0-4.42-3.58-8-8-8z"
            ></path>
        </svg>
    </a>
    <a href="https://www.zhihu.com/people/beshar" target="_blank">
        <span class="sr-only">Follow Me on Zhihu</span>
        <svg viewBox="0 0 30 30" aria-hidden="true" width="30" height="30"
            ><path
                fill="currentColor"
                d="M29.05 4.582H16.733V25.94h3.018l.403 2.572 4.081-2.572h4.815V4.582zm-5.207 18.69l-2.396 1.509-.235-1.508h-1.724V7.233h6.78v16.04h-2.425zM14.46 14.191H9.982c0-.471.033-.954.039-1.458v-5.5h5.106V5.935a1.352 1.352 0 0 0-.404-.957 1.378 1.378 0 0 0-.968-.396H5.783c.028-.088.056-.177.084-.255.274-.82 1.153-3.326 1.153-3.326a4.262 4.262 0 0 0-2.413.698c-.57.4-.912.682-1.371 1.946-.532 1.453-.997 2.856-1.31 3.693C1.444 8.674.28 11.025.28 11.025a5.85 5.85 0 0 0 2.52-.61c1.119-.593 1.679-1.502 2.054-2.883l.09-.3h2.334v5.5c0 .5-.045.982-.073 1.46h-4.12c-.71 0-1.39.278-1.893.775a2.638 2.638 0 0 0-.783 1.874h6.527a17.717 17.717 0 0 1-.778 3.649 16.796 16.796 0 0 1-3.012 5.273A33.104 33.104 0 0 1 0 28.74s3.13 1.175 5.425-.954c1.388-1.292 2.631-3.814 3.23-5.727a28.09 28.09 0 0 0 1.12-5.229h5.967v-1.37a1.254 1.254 0 0 0-.373-.899 1.279 1.279 0 0 0-.909-.37zM11.27 19.675l-2.312 1.491 5.038 7.458a6.905 6.905 0 0 0 .672-2.218 3.15 3.15 0 0 0-.28-2.168l-3.118-4.563z"
            ></path>
        </svg>
    </a>
    <a href="https://space.bilibili.com/290251303" target="_blank">
        <span class="sr-only">Follow Me on Bilibili</span>
        <svg viewBox="0 0 1024 1024" aria-hidden="true" width="33" height="33"
            ><path
                fill="currentColor"
                d="M769.856 348.928H261.248a27.84 27.84 0 0 0-28.48 27.584v337.152a27.712 27.712 0 0 0 28.48 27.456h508.608a26.496 26.496 0 0 0 27.072-27.456V376.512a26.688 26.688 0 0 0-27.072-27.584zM295.872 473.536l143.36-27.456 10.816 53.76-141.888 27.456zM516.8 637.44c-44.032 48-90.24-15.168-90.24-15.168l23.488-15.168s31.424 56.704 66.432-18.432c33.6 72.96 70.784 19.2 70.784 19.2l21.312 13.696s-39.68 63.872-91.712 15.872z m212.672-110.144L587.2 499.84l11.2-53.824 142.976 27.456z"
            ></path>
            <path
                fill="currentColor"
                d="M512 0a512 512 0 1 0 512 512 512 512 0 0 0-512-512z m269.632 809.408a462.4 462.4 0 0 0-47.872 0s-2.624 41.088-37.696 41.792a39.552 39.552 0 0 1-41.792-39.552c-21.44 0-279.552 1.152-279.552 1.152s-4.544 38.08-39.552 38.08a39.68 39.68 0 0 1-39.552-38.08c-22.976 0-53.888-0.768-53.888-0.768a123.52 123.52 0 0 1-87.808-117.184c1.152-100.992 0-300.8 0-300.8a117.376 117.376 0 0 1 85.504-119.808 5388.8 5388.8 0 0 1 161.984-1.536l-65.92-64s-10.176-12.8 7.168-27.136 18.432-8.512 24.512-4.352 98.304 95.104 98.304 95.104h-12.416c35.392 0 71.936 0.576 107.008 0.576 13.568-13.568 90.816-89.216 96-92.928s7.168-10.112 24.512 4.16 7.168 27.136 7.168 27.136l-64.448 62.144c88.512 0.768 156.736 1.152 156.736 1.152a120.896 120.896 0 0 1 89.6 119.424c-1.152 100.224 0.384 301.76 0.384 301.76s-4.864 97.92-88.512 113.408z"
            ></path>
        </svg>
    </a>
    <a href="https://musescore.com/user/58681684" target="_blank">
        <span class="sr-only">Follow Me on MuseScore</span>
        <svg
            fill="currentColor"
            viewBox="0 0 24 24"
            aria-hidden="true"
            width="33"
            height="33"
            ><path
                d="M11.777 23.997a11.99 11.99 0 0 1-8.98-4.296 12 12 0 0 1-2.406-4.655A12.1 12.1 0 0 1 .273 9.44a11.9 11.9 0 0 1 1.72-4.064 12.06 12.06 0 0 1 4.056-3.799 11.9 11.9 0 0 1 4.13-1.44 12.2 12.2 0 0 1 3.693.007c1.708.27 3.302.89 4.751 1.848.873.577 1.692 1.29 2.385 2.08a11.97 11.97 0 0 1 2.68 5.196c.402 1.718.416 3.556.039 5.291a12 12 0 0 1-4.024 6.643 12 12 0 0 1-4.655 2.407c-.743.195-1.499.316-2.29.367a18 18 0 0 1-.809.026l-.172-.003zm-6.924-6.684a.5.5 0 0 0 .23-.133.55.55 0 0 0 .139-.232c.013-.043.014-.178.018-2.363.004-2.12.005-2.327.018-2.438.033-.298.076-.51.146-.72.101-.303.224-.516.406-.705.14-.144.26-.232.434-.315a1.8 1.8 0 0 1 .504-.148c.114-.017.382-.024.493-.012a1.8 1.8 0 0 1 1.308.807c.166.25.271.528.327.866l.017.106.004 2.438c.004 2.324.005 2.44.019 2.485a.56.56 0 0 0 .133.226.5.5 0 0 0 .201.128c.052.019.068.021.167.021a.46.46 0 0 0 .37-.145.5.5 0 0 0 .149-.3c.006-.042.008-.774.008-2.407 0-1.542.003-2.375.008-2.428q.071-.72.523-1.225c.183-.204.464-.39.73-.482.21-.074.394-.101.626-.095.304.01.55.066.8.186.284.136.514.341.668.597.178.294.28.662.299 1.083.002.053.013.491.023.973.022 1.002.024 1.063.04 1.238.072.787.307 1.426.711 1.935.087.11.311.333.417.417q.651.516 1.532.634c.177.024.507.03.68.012.797-.082 1.53-.463 2.015-1.046.373-.45.606-.99.704-1.64.046-.302.043-.143.046-2.506.003-2.417.007-2.223-.054-2.346a.48.48 0 0 0-.332-.251.58.58 0 0 0-.416.06c-.1.06-.19.183-.22.304-.009.031-.012.478-.016 2.22-.005 2.415 0 2.23-.055 2.51-.18.917-.81 1.522-1.73 1.66a2.4 2.4 0 0 1-.512-.008q-.695-.105-1.13-.557c-.332-.345-.53-.816-.601-1.432-.018-.151-.026-.387-.043-1.212-.018-.853-.026-1.05-.047-1.24-.129-1.123-.68-1.983-1.548-2.417a2.8 2.8 0 0 0-1.121-.294c-.55-.035-1.136.12-1.671.441a3 3 0 0 0-.813.707l-.038.049-.028-.038a3 3 0 0 0-.235-.261c-.457-.433-1.1-.722-1.78-.8a4 4 0 0 0-.65-.001c-.635.07-1.141.286-1.559.666-.48.437-.795 1.103-.912 1.926-.056.393-.057.436-.054 2.915l.002 2.184.022.064a.53.53 0 0 0 .359.339c.078.02.188.02.267 0zm11.99-8.863a.69.69 0 0 0 .546-.505.9.9 0 0 0 .008-.3.69.69 0 0 0-.455-.516.678.678 0 0 0-.895.649c0 .055.005.11.012.142a.684.684 0 0 0 .783.53zm-2.667-.138a.5.5 0 0 0 .32-.265c.046-.092.06-.158.067-.343a2.22 2.22 0 0 1 .617-1.49 1.93 1.93 0 0 1 1.146-.587c.145-.022.434-.024.581-.004q.46.065.822.3c.244.16.474.4.634.663.202.333.326.763.327 1.127q0 .148.036.26a.507.507 0 0 0 .94.068c.053-.111.06-.15.059-.35 0-.198-.01-.318-.043-.514-.217-1.298-1.165-2.294-2.426-2.545a2.5 2.5 0 0 0-.625-.055 3.03 3.03 0 0 0-2.738 1.638 3.3 3.3 0 0 0-.366 1.43c-.01.265.037.418.167.544a.51.51 0 0 0 .482.123"
            ></path>
        </svg>
    </a>
</div>
